<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <mat-card-title>A popos de #TECH</mat-card-title>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h1>Une équipe au services e la population</h1>
      <p>This caroussel doesn't pause or resume on mouse event</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]"  alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random fourth slide">
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>


<br><br><br><br><br>
    <div class="content">
        <p>
            Le service des systèmes d'information, ou service informatique, 
            est le service en charge du parc informatique d'une entreprise. 
            Les personnes y travaillant ont pour rôle la configuration du serveur, 
            veiller à la sécurité du réseau et des données,
             la maintenance des postes informatiques et l'installation des logiciels et mises à jour.
             Dans les petites entreprises, c’est généralement une société extérieure qui s’occupe de l’infrastructure informatique.
              Dans les moyennes entreprises, une personne suffit à gérer le réseau. Dans les grandes entreprises,
               le service peut contenir plusieurs personnes, dont certaines s’occupent du support utilisateur et vous aident lorsque vous rencontrez des soucis ou que vous avez besoin d’installer un nouveau logiciel.


Le service informatique veille à la protection des données de l’entreprises, souvent cruciales à son bon fonctionnement.

Le service informatique s’occupe également de mettre en place des sauvegardes automatisées des données informatiques sur le serveur de l’entreprise,
 veillent à la mise en place du pare-feu, configurent les comptes utilisateurs…

Dans certaines entreprise qui traitent beaucoup de données informatique, la salle des serveurs peut être très grande et ressembler à ça (c’est un lieu où vous n’avez jamais accès, très sécurisé) :
        </p>
    </div>
